<body>
    <link rel="stylesheet" href="~/css/ContactStyle.css">
    <div class="logo">
        <img src="~/img/Image.jfif" alt="Лого"> 
    </div>

    <div class="container">
        <div class="info-box">
            <div class="info-title">Контакти</div>
            <div class="contact-box">
                <p>Телефон: 0877067097</p>
                <p>Viber: +359887555533</p>
                <p>WhatsApp: +359887555533</p>
                <p>E-mail: office@kentavar.bg</p>
            </div>
            <div class="address-box">
                <p>Стара Загора</p>
                <p>ул Васил Априлов № 34,</p>
                <p>етаж -1.</p>
                <p>Работно време: 9:00 – 18:00, без почивни дни.</p>
            </div>
        </div>

        <!-- Карта -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.891257192677!2d25.612800615325527!3d42.4257779791826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a875ec8d5f8e45%3A0x999d25c702c5c33!2sul.%20%22Vasil%20Aprilov%22%2034%2C%20Stara%20Zagora!5e0!3m2!1sen!2sbg!4v1234567890"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>
    </div>
</body>