@using Dealership.Core.Models.Acoount
@model LoginViewModel

<div class="container">
    <header>
        <h1>@ViewData["Title"] 🚗</h1>
        <p>Добре дошли обратно в нашата автокъща! 🚙</p>
    </header>

    <!-- Форма за вход -->
    <form id="loginForm" asp-action="Login" method="post">
        <h2>Влезте в своя акаунт 🏁</h2>

        <!-- Показване на грешки от валидация -->
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <!-- Имейл -->
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Email">Имейл 📨</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Парола -->
        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Парола" />
            <label asp-for="Password">Парола 🔑</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- Копче за вход -->
        <button id="loginSubmit" type="submit" class="btn btn-primary" style="margin: 0.5em; margin-bottom: 1.5em;">
            Вход
        </button>
    </form>

    <footer>
        <p>🚘 Приятно шофиране! Влезте и пазарувайте с нас! 🚗</p>
    </footer>
</div>
<link rel="stylesheet" href="~/css/LoginStyle.css" />

<partial name="_ValidationScriptsPartial" />
